@use '../../lib/service.scss' as s;

.main {
    display: flex;
    flex-direction: column;
    gap: s.space(10);
    padding: s.space(10);
}

.form{
    padding: s.space(3);
}

.form__title{
    color: s.color(main);
    font-size: 35px;
    padding-bottom: 20px;
}

.card__title{
    font-size: 25px;
    padding-bottom: 20px;
}

.card__main{


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.card__description{

    display: grid;
    
}

.form__content{
    border: 1px solid s.color(border);
    border-radius: 5px;
    padding: s.space(3);
}

.form__field{
    font-size: 18px;
    gap: 10px;

   
    // display: flex;
    // flex-direction: row;
    padding-bottom: 10px;
   
}

.form__label{
    font-size: 18px;
    padding-bottom: 10px;
}

.form__input{
    font-size: 16px;
    border: 1px solid s.color(border);
    border-radius: 5px;
    padding: 3px;

}

.buttons{
    display: grid;
    font-size: 18px;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  
}

.form__button{
    color: s.color(light);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 0.7;
    }
}

.edit{
    background-color: s.color(main);
    
}

.delete{
    background-color: red;
}

