@use "../../lib/service.scss" as s;

@use '../../component/heading/style.scss' as heading;

@use '../../component/divider/style.scss' as divider;

@use '../../component/button/style.scss' as button;

.main {
    display: flex;
    flex-direction: column;
    gap: s.space(10);
    padding: s.space(10);
}


.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: -1;
  gap: 10px;
  margin: 5px;
  //position: absolute;

  &__label{
    color: rgb(152, 144, 144);
  }
}

.custom-link{
  color: s.color(dark);
  cursor: pointer;
  text-decoration: none; 
  position: relative;
  gap: 10px;
  border: none;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr;
  margin-bottom: 10px;
}
